# {{ ansible_managed }}
---
version: "3.5"

networks:
  back-tier:
    name: internet-monitoring-back-tier

services:
  enphasecollector:
    container_name: enphasecollector
    hostname: 'enphasecollector'
    restart: unless-stopped
    image: dlmcpaul/enphasecollector-arm:latest
    ports:
      - 8080:8080
    networks:
      - back-tier
    environment:
      ENVOY_CONTROLLER_HOST: '{{ enphasecollector_host }}'
{% if domain_name_enable and domain_name and domain_enphasecollector %}
      VIRTUAL_HOST: {{ domain_enphasecollector }}.{{ domain_name }}
      VIRTUAL_PORT: 8080
{% endif %}
